.card{
  border-style: none;
  width: 20rem;
  height: 22.125rem;
  margin: 2.8rem;
}
.card-header{
  background: none;
  color: #2D2D2D;
  font-family: Circular Std Medium;
  font-size: 27px;
  width: fit-content;
}


