<header>
  <nav class="navbar navbar-expand-md top-nav">
    <a class="navbar-brand" href="#"><img id="logo" src="../../../../assets/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
      aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav flex-row justify-content-md-end justify-content-start flex-nowrap subMenu">
        <li class="nav-item active">
          <a class="nav-link">Shipping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Customer Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My account</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="row">
    <ng-select
    [selectOnTab]="true"
    dropdownPosition="auto"
    class="custom"
    [items]="exampleData"
    bindLabel="name"
    placeholder="Search products by SKU or name"></ng-select>
  </nav>
</header>
